<form [formGroup] ="cardForm">
    <input formControlName="name" class="input" type="text" placeholder="Enter Your Name">
    <ng-container *ngIf="cardForm.controls.name.hasError">
        <div *ngIf="cardForm.get('name')?.hasError('required')">
            <p>value is required</p>
        </div>
        <div *ngIf="cardForm.get('name')?.errors?minlength.requiredlength">
            <p>value is required</p>
        </div>
    </ng-container>

</form>



<div>
    Form Contents: {{ cardForm.value|json }}
</div>
<div>
    Form is valid: {{cardForm.valid}}
</div>